## Configuration of the R package 'rapbase', yaml formatted
## May contain anything, but try to keep some sensible structure and tidyness

## Network
network :

  # Proxy server and port
  proxy :
    http :
    port :

  # email
  smtp :
    server :
    port :
  sender : rapporteket@skde.no

## GitHub
github :
  # Github organization
  organization : Rapporteket
